<div class="add-details container" style="width: 390px; justify-content: center; margin-top: 10vh;">
  <h2 style="text-align: center; font-weight: 600;"><%= t("appointments.add_detail.add_details") %></h2>
  <div class="form-section">
    <% if @user.errors.any? %>
      <div id="error_explanation" style="color: #B00100; background-color: cornsilk;">
        <h5><%= t("appointments.add_detail.enter_correct_inputs") %></h5>
        <ul>
          <% @user.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <%= form_with model: @user, url: appointments_congrats_path , method: :get do |form| %>
      <div class="form-group mt-4">
        <div class="my-5">
          <%= form.label :name, style: "font-size: 16px; font-weight: 600;" %>
          <%= form.text_field :name, class: "form-control border-2 border-secondary border-opacity-50", style: "height: 50px; background-color: rgb(245, 242, 252)", placeholder: "Enter Name" %>
        </div>
        <div class="my-5">
          <%= form.label :email, style: "font-size: 16px; font-weight: 600;" %>
          <%= form.text_field :email, class: "form-control border-2 border-secondary border-opacity-50", style: "height: 50px; background-color: rgb(245, 242, 252)", placeholder: "Enter Email" %>
        </div>
        <div class="d-flex mt-4" style="justify-content: space-between; height: 40px;">
          <button class="cur-btn btn btn-light btn-lg border border-secondary border-opacity-25" style="width: 120px; height: 43px;" value="INR" onclick = 'toggleCurrencyActive(event)'>INR</button>
          <button class="cur-btn btn btn-light btn-lg border border-secondary border-opacity-25" style="width: 120px; height: 43px;" value="USD" onclick = 'toggleCurrencyActive(event)'>USD</button>
          <button class="cur-btn btn btn-light btn-lg border border-secondary border-opacity-25" style="width: 120px; height: 43px;" value="EUR" onclick = 'toggleCurrencyActive(event)'>EUR</button>
          <%= form.hidden_field :currency, value: "INR" %>
        </div>
        <div>
          <%= form.hidden_field :slot_id, value: @slot_id %>
        </div>
      </div>
      <div>
        <%= form.submit "#{t("appointments.add_detail.pay_500")}", data: {turbo_stream: true, turbo_method: :get}, class: "pay-button btn btn-primary btn-lg rounded-2 w-100 mt-5", :onclick=> 'loader()' %>
      </div>
    <% end %>
  </div>
  <div class="loader-wrapper d-flex justify-content-center align-items-center" style="height: 30vh">
    <div class="spinner-grow d-none" role="status" id="loader">
      <!--    <span class="sr-only">Loading...</span>-->
    </div>
  </div>
</div>
