<div>
  <div class="d-flex select-time-text mt-5">
    <p><%= t("appointments.slot.select_time") %></p>
    <p class="ms-1" style="color: #443EFF"> <%= @day.strftime("%A, #{@day.day.ordinalize}, %B") %> </p>
  </div>

  <div class="slot-buttons d-flex mt-2">
    <% @slots.each do |slot| %>
      <% if in_ist(slot.slot_time) < in_ist(Time.now) %>
        <div>
          <button class="slot-btn btn btn-outline-secondary rounded-2 disable" disabled > <%= displayable_time(slot.slot_time) %> </button>
        </div>
      <% elsif slot.present && slot.available %>
        <div>
          <button class="slot-btn btn btn-outline-primary rounded-2" onclick="toggleActive(event)" data-test-target="slotId" value="<%= slot.id %>" data-action='click->test#setParamForBookAppointment' > <%= displayable_time(slot.slot_time) %> </button>
        </div>
      <% else %>
        <div>
          <button class="slot-btn btn btn-outline-secondary rounded-2 disable" disabled > <%= displayable_time(slot.slot_time) %> </button>
        </div>
      <% end %>
    <% end  %>
  </div>
</div>

