<div>
  <div class="d-flex select-time-text mt-5">
    <p> Select a time for </p>
    <p class="ms-1" style="color: #443EFF"> <%= @day.strftime("%A, #{@day.day.ordinalize}, %B") %> </p>
  </div>

  <div class="slot-buttons d-flex mt-2">
    <% @slots.each do |slot| %>
      <% if slot.slot_time.in_time_zone("Chennai") < Time.now.in_time_zone("Chennai") %>
        <div>
          <button class="slot-btn btn btn-outline-secondary rounded-2 disable" disabled > <%= slot.slot_time.in_time_zone("Chennai").strftime("%I:%M %p") %> </button>
        </div>
      <% elsif slot.present && slot.available %>
        <div>
          <button class="slot-btn btn btn-outline-primary rounded-2" onclick="toggleActive(event)" data-test-target="slotId" value="<%= slot.id %>" data-action='click->test#setParamForBookAppointment' > <%= slot.slot_time.in_time_zone("Chennai").strftime("%I:%M %p") %> </button>
        </div>
      <% else %>
        <div>
          <button class="slot-btn btn btn-outline-secondary rounded-2 disable" disabled > <%= slot.slot_time.in_time_zone("Chennai").strftime("%I:%M %p") %> </button>
        </div>
      <% end %>
    <% end  %>
  </div>
</div>

