<div class="container" style="width: 870px;">
  <h2 class="mt-5" style="text-align: center"><%= t("appointments_booked.appointments_list.my_appointments") %></h2>
  <div >
    <div class="row mt-2">
      <% if @slots.count == 0 %>
        <h3 class="mt-5" style="text-align: center; color: #730E15;"><%= t("appointments_booked.appointments_list.no_appointment") %></h3>
      <% else %>
        <% @slots.each do |slot| %>
          <%#= slot.id %>
          <% doctor = Doctor.find(slot.doctor_id) %>
          <div class="card" style="margin: 30px 42px 24px 60px; width: 330px; height: 470px;">
            <div class="row mt-3">
              <div class="col col-5">
                <%= image_tag(doctor.image_url, :style => "width: 76px; height: 76px; margin: 10px 0px 0px 0px; border-radius: 8px;") %>
              </div>
              <div class="col">
                <div class="card-body" style="margin-left:-60px; ">
                  <h5 class="card-title" style="font-size: 20px; font-weight: 700;"><%=  doctor.doctor_name %></h5>
                  <p class="card-text text-muted" style="font-size: 18px; font-weight: 400;"><%= doctor.address %></p>
                </div>
              </div>
              <%= image_tag("consult.svg", style: "width: 230px; height: 30px;")%>
              <div class="d-flex" style="justify-content: space-between">
                <div class="d-flex">
                  <%= image_tag("small_calendar.svg") %>
                  <p class="appointment-time">
                    <%= slot.slot_time.strftime("#{slot.slot_time.day.ordinalize} %B") %>
                  </p>
                </div>
                <div style="border-left: 2px solid grey; height: 25px; opacity: 0.7; margin-left: 15px; margin-top: 15px"></div>
                <div class="d-flex">
                  <%= image_tag("clock.svg") %>
                  <p class="appointment-time">
                    <%= displayable_time(slot.slot_time) %>
                  </p>
                </div>
              </div>
              <p class="mt-3"><%= t("appointments_booked.appointments_list.download_invoice") %></p>
              <div class="d-flex">
                <%= button_to 'CSV', "#{appointments_booked_generate_invoice_path}.csv", params: { slot_id: slot.id}, method: "get", class:"btn btn-dark border border-secondary border-opacity-25 me-1", style: "width: 70px; height: 30px; text-align: center; font-size: 13px;" %>
                <%= button_to 'TXT', "#{appointments_booked_generate_invoice_path}.txt", params: {slot_id: slot.id}, method: "get", class:"btn btn-dark border border-secondary border-opacity-25 ms-1 me-1", style: "width: 70px; height: 30px; text-align: center; font-size: 13px;" %>
                <%= button_to 'PDF', "#{appointments_booked_generate_invoice_path}.pdf", params: {slot_id: slot.id}, method: "get", class:"btn btn-dark border border-secondary border-opacity-25 ms-1", style: "width: 70px; height: 30px; text-align: center; font-size: 13px;" %>
              </div>
              <div style="width: 316px; background-color: #E3E3FD; height: 44px; margin: 40px 0 0 6px; border-radius: 10px;">
                <div style="display:flex; justify-content: space-between; align-items: center; margin-top: 8px;">
                  <p style="font-size: 16px;"><%= t("appointments_booked.appointments_list.amount_paid") %></p>
                  <p style="font-size: 18px; color: #6234E7; font-weight: 700;"> <%= slot.currency %> <%= 500*slot.currency_rate %> /- </p>
                </div>
              </div>
              <div class="mt-4">
                <% if Time.now < in_ist(slot.slot_time) - 30.minutes %>
                  <%= button_to "#{t("appointments_booked.appointments_list.cancel")}", appointments_booked_cancel_path, params: {slot_id: slot.id}, method: "get", data: { turbo_confirm: 'Are you sure?' }, class:"d-block btn btn-outline-danger", style: "width: 90px; height: 40px; margin: 0 auto;" %>
                <% else %>
                  <%= button_to "#{t("appointments_booked.appointments_list.cancel")}","", class:"d-block btn btn-outline-dark", :disabled => true, style: "width: 90px; height: 40px; margin: 0 auto;" %>
              <% end %>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
